ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          LBS
PIPELINE-REFERENCE   AC-CIPR-DS38U01501-02
    PIPING-SPEC   TG03
    INSULATION-SPEC   IH
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   NR
    ATTRIBUTE42   TG03
    ATTRIBUTE40   2024-06-22 11:42:13
    ATTRIBUTE41   JEGINTL\NIKALJAN
    ATTRIBUTE33   CIPR
    ATTRIBUTE52   IH
    ATTRIBUTE25   AC-2"-CIPR-DS38U01501-TG03-IH
    ATTRIBUTE36   STRESS ANALYZED PIPING DO NOT$MODIFY WITHOUT WRITTEN APPROVAL$FROM THE STRESS ENGINEER.
    ATTRIBUTE50   AC104UP
    ATTRIBUTE57   DS38U01
    ATTRIBUTE46   AC-D2202106
    ATTRIBUTE51   WP-AC-CIPC-01
    ATTRIBUTE53   AC
    ATTRIBUTE54   AC-CIPR-501-2"-
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
ELBOW
    COMPONENT-IDENTIFIER    1
    END-POINT    835377.360    1110593.336    110828.224     2    BW
    END-POINT    835377.360    1110713.188    110949.336     2    BW
    CENTRE-POINT    835377.360    1110713.191    110829.474        
    SKEY    EL**
    MATERIAL-IDENTIFIER 1
    ANGLE    8940
    UCI    {00013885-0000-0000-644D-9A5076668B04}
    INSULATION-SPEC    IH
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    NR
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    TG03
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    COMPONENT-IDENTIFIER    2
    MASTER-COMPONENT-IDENTIFIER    1
    END-POINT    835377.360    1110713.188    110949.336     2    
    END-POINT    835377.360    1110713.190    110949.336     2    
    SKEY    WM
    REPEAT-WELD-IDENTIFIER    _@@@@@@@@@@@_
    UCI    {000138AA-0000-0000-F14D-9A5076668B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    AC-CIPR-DS38U01501
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Orbital Weld Shop
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    COMPONENT-IDENTIFIER    3
    END-POINT    835377.350    1106403.521    110784.545     2    
    END-POINT    835377.360    1110593.336    110828.224     2    
    FABRICATION-ITEM
    INSULATION-SPEC    IH
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    NR
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    TG03
    WEIGHT    1.396
    UCI    {0001388C-0000-0000-C909-E06A1A664106}
    MATERIAL-IDENTIFIER 2
    CUT-PIECE-LENGTH    4190.04
MESSAGE
    CO-ORDS    835377.350    1106403.521    110784.545
    TEXT      CONNECTION ON S2 PORT
SUPPORT
    CO-ORDS    835377.354    1107955.949    110800.729     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    MATERIAL-IDENTIFIER 3
    SUPPORT-TYPE    Structural
    WEIGHT    0.000
    UCI    {00022303-0000-0000-84F7-AADE1A664106}
    NAME    G92NC
    MESSAGE
    TEXT    G92NC
    MESSAGE
    TEXT    H= 17.67"
SUPPORT
    CO-ORDS    835377.357    1109545.956    110817.305     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    MATERIAL-IDENTIFIER 3
    SUPPORT-TYPE    Structural
    WEIGHT    0.000
    UCI    {00022303-0000-0000-BCF6-AADE1A664106}
    NAME    G92NC
    MESSAGE
    TEXT    G92NC
    MESSAGE
    TEXT    H= 41.84"
WELD
    COMPONENT-IDENTIFIER    4
    MASTER-COMPONENT-IDENTIFIER    3
    END-POINT    835377.350    1106403.521    110784.545     2    
    END-POINT    835377.350    1106403.521    110784.545     2    
    SKEY    WM
    REPEAT-WELD-IDENTIFIER    _@@@@@@@@@@@_
    UCI    {000138AA-0000-0000-250A-E06A1A664106}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    AC-CIPR-DS38U01501
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Orbital Weld Shop
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    COMPONENT-IDENTIFIER    5
    MASTER-COMPONENT-IDENTIFIER    3
    END-POINT    835377.360    1110593.336    110828.224     2    
    END-POINT    835377.360    1110593.336    110828.224     2    
    SKEY    WM
    REPEAT-WELD-IDENTIFIER    _@@@@@@@@@@@_
    UCI    {000138AA-0000-0000-EF4D-9A5076668B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    AC-CIPR-DS38U01501
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Orbital Weld Shop
    WELD-ATTRIBUTE4    By Pipe Fabricator
INSTRUMENT-3WAY
    COMPONENT-IDENTIFIER    6
    END-POINT    835377.350    1106403.521    110784.545     2    BW
    END-POINT    835377.350    1106182.833    110782.245     2    BW
    END-POINT    835393.298    1106299.772    110663.950     2    BW
    CENTRE-POINT    835377.350    1106298.527    110783.451        
    SKEY    C3**
    MATERIAL-IDENTIFIER 4
    TAP-CONNECTION    
    CO-ORDS    835393.298    1106299.772    110663.950     2    BW
    UCI    {000138B6-0000-0000-ED09-E06A1A664106}
    INSULATION-SPEC    IH
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    NR
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    TG03
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    DOWN
    DIRECTION    D  .6 N
    TAG    AC$DS38U01$XV505
WELD
    COMPONENT-IDENTIFIER    7
    MASTER-COMPONENT-IDENTIFIER    6
    END-POINT    835377.350    1106182.833    110782.245     2    
    END-POINT    835377.350    1106182.833    110782.245     2    
    SKEY    WM
    REPEAT-WELD-IDENTIFIER    _@@@@@@@@@@@_
    UCI    {000138AA-0000-0000-730A-E06A1A664106}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    AC-CIPR-DS38U01501
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Orbital Weld Shop
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    COMPONENT-IDENTIFIER    8
    MASTER-COMPONENT-IDENTIFIER    6
    END-POINT    835393.298    1106299.772    110663.950     2    
    END-POINT    835393.298    1106299.772    110663.950     2    
    SKEY    WM
    ANGLE    60
    REPEAT-WELD-IDENTIFIER    _@@@@@@@@@@@_
    UCI    {000138AA-0000-0000-D24B-9A5076668B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    AC-CIPR-DS38U01501
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Orbital Weld Shop
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    COMPONENT-IDENTIFIER    9
    END-POINT    835377.338    1101146.008    110729.735     2    
    END-POINT    835377.350    1106182.833    110782.245     2    
    FABRICATION-ITEM
    INSULATION-SPEC    IH
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    NR
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    TG03
    WEIGHT    1.396
    UCI    {0001388C-0000-0000-140A-E06A1A664106}
    MATERIAL-IDENTIFIER 2
    CUT-PIECE-LENGTH    5037.10
SUPPORT
    CO-ORDS    835377.344    1103782.505    110757.221     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    MATERIAL-IDENTIFIER 3
    SUPPORT-TYPE    Structural
    WEIGHT    0.000
    UCI    {00022303-0000-0000-14F9-AADE1A664106}
    NAME    G92NC
    MESSAGE
    TEXT    G92NC
    MESSAGE
    TEXT    H= 19.39"
SUPPORT
    CO-ORDS    835377.349    1105945.686    110779.772     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    MATERIAL-IDENTIFIER 3
    SUPPORT-TYPE    Structural
    WEIGHT    0.000
    UCI    {00022303-0000-0000-4CF8-AADE1A664106}
    NAME    G92NC
    MESSAGE
    TEXT    G92NC
    MESSAGE
    TEXT    H= 18.5"
SUPPORT
    CO-ORDS    835377.339    1101648.905    110734.978     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    MATERIAL-IDENTIFIER 3
    SUPPORT-TYPE    Structural
    WEIGHT    0.000
    UCI    {00022303-0000-0000-DCF9-AADE1A664106}
    NAME    G92NC
    MESSAGE
    TEXT    G92NC
    MESSAGE
    TEXT    H= 20.26"
ELBOW
    COMPONENT-IDENTIFIER    10
    END-POINT    835377.338    1101026.153    110608.624     2    BW
    END-POINT    835377.338    1101146.008    110729.732     2    BW
    CENTRE-POINT    835377.338    1101026.153    110728.486        
    SKEY    EL**
    MATERIAL-IDENTIFIER 1
    ANGLE    8940
    UCI    {00013885-0000-0000-9F41-9A5076668B04}
    INSULATION-SPEC    IH
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    NR
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    TG03
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    COMPONENT-IDENTIFIER    11
    MASTER-COMPONENT-IDENTIFIER    10
    END-POINT    835377.338    1101146.008    110729.732     2    
    END-POINT    835377.338    1101146.008    110729.735     2    
    SKEY    WM
    REPEAT-WELD-IDENTIFIER    _@@@@@@@@@@@_
    UCI    {000138AA-0000-0000-3043-9A5076668B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    AC-CIPR-DS38U01501
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Orbital Weld Shop
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    COMPONENT-IDENTIFIER    12
    END-POINT    835377.360    1110713.190    110949.336     2    
    END-POINT    835377.360    1110713.189    111078.482     2    
    FABRICATION-ITEM
    INSULATION-SPEC    IH
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    NR
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    TG03
    WEIGHT    1.396
    UCI    {0001388C-0000-0000-6A4D-9A5076668B04}
    MATERIAL-LIST    EXCLUDE
    MATERIAL-IDENTIFIER 2
    CONTINUATION
ELBOW
    COMPONENT-IDENTIFIER    13
    CONTINUATION
    END-POINT    835393.298    1106299.772    110663.950     2    BW
    END-POINT    835513.153    1106299.771    110542.842     2    BW
    CENTRE-POINT    835393.298    1106299.772    110544.088        
    SKEY    EL**
    MATERIAL-LIST    EXCLUDE
    MATERIAL-IDENTIFIER 5
    ANGLE    8940
    UCI    {00013885-0000-0000-7B4B-9A5076668B04}
    INSULATION-SPEC    IH
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    NR
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    TG03
    FABRICATION-ITEM
    WEIGHT    0.000
ELBOW
    COMPONENT-IDENTIFIER    14
    CONTINUATION
    END-POINT    835377.338    1101026.153    110608.602     2    BW
    END-POINT    835257.544    1101026.153    110487.459     2    BW
    CENTRE-POINT    835377.338    1101026.153    110488.800        
    SKEY    EL**
    MATERIAL-LIST    EXCLUDE
    MATERIAL-IDENTIFIER 5
    ANGLE    8936
    UCI    {00013885-0000-0000-9941-9A5076668B04}
    INSULATION-SPEC    IH
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    NR
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    TG03
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    COMPONENT-IDENTIFIER    15
    MASTER-COMPONENT-IDENTIFIER    14
    END-POINT    835377.338    1101026.153    110608.602     2    
    END-POINT    835377.338    1101026.153    110608.624     2    
    SKEY    WM
    REPEAT-WELD-IDENTIFIER    _@@@@@@@@@@@_
    UCI    {000138AA-0000-0000-3243-9A5076668B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    AC-CIPR-DS38U01501
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Orbital Weld Shop
    WELD-ATTRIBUTE4    By Pipe Fabricator
    STATUS    DOTTED-UNDIMENSIONED
    MATERIAL-LIST    EXCLUDE
FLOW-ARROW
    CO-ORDS    835377.355    1108498.428    110806.385
    FLOW 1
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    835377.344    1103664.420    110755.990
    FLOW 1
    SKEY FLOW
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS    835393.298    1106299.772    110663.950        
    REFERENCE-DIMENSION-PRIME
    CO-ORDS    838657.184    1106299.772    110663.950        
    REFERENCED-ITEM
    CO-ORDS    838657.202    1114231.296    110663.950        
    CO-ORDS    838657.079    1060110.496    110663.950        
    SKEY    GRD
    MESSAGE
    TEXT    6
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS    835393.298    1106299.772    110663.950        
    REFERENCE-DIMENSION-PRIME
    CO-ORDS    835393.298    1105916.103    110663.950        
    REFERENCED-ITEM
    CO-ORDS    785841.183    1105916.216    110663.950        
    CO-ORDS    881719.583    1105915.998    110663.950        
    SKEY    GRD
    MESSAGE
    TEXT    E
END-CONNECTION-PIPELINE
    CO-ORDS    835377.360    1110713.189    111078.482
    CONNECTION-REFERENCE  AC-CIPR-DS38U01501-03
END-CONNECTION-PIPELINE
    CO-ORDS    835513.153    1106299.771    110542.842
    CONNECTION-REFERENCE  AC-CIPR-DS38U01532-01
END-CONNECTION-PIPELINE
    CO-ORDS    835257.544    1101026.153    110487.459
    CONNECTION-REFERENCE  AC-CIPR-DS38U01501-01
MATERIALS
MATERIAL-IDENTIFIER    1
    ITEM-CODE B12A9H9FA9GXEPZ$
    DESCRIPTION    90 Degree Elbow; Sq Cut; SS A270 TP316L; SF2, 0.065" TUBING
MATERIAL-IDENTIFIER    2
    ITEM-CODE PPTA9D9AA8SXFSZ$
    DESCRIPTION    Tubing; Sq Cut; SS A270 TP316L; SF2, 0.065" TUBING
MATERIAL-IDENTIFIER    3
    ITEM-CODE G92NC
    DESCRIPTION    G92NC
MATERIAL-IDENTIFIER    4
    ITEM-CODE 7204_XV_D_DIAPH_H_GEMU_P600M_03.02_SL_JZY_2X2X2IN_BW$
    DESCRIPTION    AC-DS38U01-XV505 - SEE INSTRUMENT LIST
MATERIAL-IDENTIFIER    5
    ITEM-CODE B12A9H9FA9GXEPZ$
    DESCRIPTION    90 Degree Elbow; ASME BPE; Square Cut; SS ASTM A270 TP316L; S2, SF2 Interior W/ Light Polish Exterior
